body {
    font-family: Arial, sans-serif;
    background-color: #001f3f;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #00bfff;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

input, select, button {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px; /* Set consistent height for all elements */
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.form-button {
    width: 40mm;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    color: black;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    input, select, button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}